.login {
    background-color: #ECEED0;
    ;
}

.divlogin {
    text-align: center;

}

.cadastro2 {
    text-align: center;
    margin: 6%;
}

.logocadastro {
    height: 50px;
}

.alinhar {
    text-align: center;

}

.principal1 {
    height: 45px;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.cabecalho {
    background-color: rgb(195, 186, 186);
    display: flex;
    padding: 20px;
    box-shadow: 0px 0px 15px black;
    justify-content: space-between;
    align-items: center;
}

.img-cabecalho {
    width: 80px;
    margin-right: 30px;
}

.botao-cabecalho {
    text-decoration: none;
    color: black;
    margin: 15px;
}

.botao-cabecalho:hover {
    color: rgb(9, 113, 3);
}

.menu {
    display: flex;
    align-items: center;
}

.botao-encontre-uma-loja {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 20px;
}

.botao-encontre-uma-loja:hover {
    color: rgb(9, 113, 3);
}

.botao-entrar {
    text-decoration: none;
    color: black;
    margin: 10px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
}

.botao-entrar:hover {
    background-color: black;
    color: white;
}

.botao-participe-agora {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 10px;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}

.botao-participe-agora:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.cabecalho2 {
    display: flex;
    align-items: center;
}

.principal2 {
    background-color: #ECEED0;
}

/*img*/
.sabores {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
}

.img-sabor {
    border-radius: 50px;
    margin: 10px; 

    
   
}
.img-sabor:hover{
  border-radius: 12px;
  margin: 10px;
  transition: 1s;
  border: solid black 60px;
  width: 350px;
 height: 250px;
}

.img-filmes {
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);

    min-width: 307px;
    min-height: 233,4px;

    margin-left: 10px;
    margin-right: 10px;
}

.p-filmes {
    text-align: center;
    color: rgb(255, 255, 255);
}

.filmes {
    display: flex;
    overflow-x: scroll;
    margin: 20px;
  
}



.filmes img {
    width: 300px;
    height: 310px;
    border-radius: 20px;
}

.filmes::-webkit-scrollbar {
    display: none;
}

input {
    width: 300px;
    height: 35px;
    border-radius: 50px;

}

.Botao {
    width: 100px;
    height: 30px;
    border-radius: 50px;
    color: white;
    background-color: rgb(0, 0, 0);
}

.index1 {
    width: 150px;
}

.index2 {
    text-align: center;
}

.imgindex {
    width: 350px;
}

.index {
    background-color: #ECEED0;
}

.teen {
    width: 500px;
    border-radius: 10px;
    border: solid #ECEED0 5px;
}

.wolf {
    display: flex;
    margin: 70px;
    border: solid black;
    padding: 30px;
    border-radius: 10px;
    background-color: #AFB4AE;
    color: rgb(0, 0, 0);

}

.ferro {
    display: flex;
    margin: 70px;
    padding: 30px;
    border-radius: 10px;
    background-color: #AFB4AE;
    color: rgb(0, 0, 0);
    border: solid black;
}

.tony {
    width: 500px;
    border-radius: 10px;
    border: solid #ECEED0 5px;
}

.aranha {
    display: flex;
    margin: 70px;
    padding: 30px;
    border-radius: 10px;
    background-color: #AFB4AE;
    color: rgb(0, 0, 0);
    border: solid black;
}

.piter {
    width: 500px;
    border-radius: 10px;
    border: solid #ECEED0 5px;
}

.star {
    display: flex;
    margin: 70px;
    padding: 30px;
    border-radius: 10px;
    background-color: #AFB4AE;
    color: rgb(0, 0, 0);
    border: solid black;
}

.texto1 {
    margin: auto;
    font-size: 25px;
    text-align: left;
    padding: 20px;
}

.load {
    background-color: #AFB4AE;
}

.sair {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 10px;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    text-align: end;
}

.messi {
    text-align: end;
}